openai==1.46.0
langchain==0.3.0
langchain_openai==0.2.0
langchain_community==0.3.0
langchain_experimental==0.3.0
sentence-transformers==3.1.0
tf-keras==2.17.0
einops==0.8.0
pypdf==4.2.0
streamlit==1.34.0
tiktoken==0.7.0
python-dotenv==1.0.1
milvus==2.2.16
pymilvus==2.4.1
streamlit-modal==0.1.2
panel==1.4.3
streamlit-option-menu==0.3.13
streamlit-pdf-viewer==0.0.17
openpyxl==3.1.2
matplotlib==3.9.0
seaborn==0.13.2
lark==1.1.9
PyMuPDF==1.24.4
pdfminer.six
pi-heif
pytesseract==0.3.10
unstructured==0.11.8
unstructured.pytesseract==0.3.12
unstructured-inference==0.7.31
langid==1.1.6
tabula
streamlit-feedback==0.1.3
pyperclip==1.9.0
pikepdf==9.2.1